* {
    margin: auto;
    background-color: grey;
    padding: 10px;
    width: 80%;
}
body{
    margin: 40px 60px 0px 40px;
    border: 20%;
    width:100%;
    height:0;
    padding-bottom:133%;
    position:relative;
}

h1{
    background-color: blueviolet;
    height: 30px;
}

#directions {
    background-color: whitesmoke;
}

#random {
    background-color: pink;
    height: 40px;
}


#points{
    background-color: lightgrey;
}

#totalbox{
    background-color: lightcyan;
}

button {
    background-color: antiquewhite;
    padding: 3px;
    height: 190px;
    width: 90px;
    margin: 40px 10px 20px 10px;
    border: 20%;
}

.box {
    height: 50px;
    margin: auto;
    width: 80%;
    border: 20px;
    padding: 10px;
    background-color: yellow;

}

#crystal1 {
    background-color: aqua;
}

/* #score {
    background-color: aqua;
    color: black;
    width: 20%;
    height: 100%;
} */